body {
  font-family: 'Roboto Slab';
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 15px;
  display: inline-block;
}

#feed-view {
  margin: auto;
  width: 80%;
}

#entry-thumb {
  height: 150px;
  width: 2000px;
}

#entry-info {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #D4D4D4;
  width: 100%;
}

#entry-info:hover {
  background-color: #FBFBFB;
  cursor: default;
}

#time-ago {
  font-size: 13px;
  color: black;
  padding-left: 15px;
  font-weight: 300;
}

#content-snippet {
  display: block;
  color: #B1B1B1;
  font-size: 16px;
  font-family: 'Adobe Song Std'
}

#full-content {
  font-family: 'Adobe Song Std'
}
